<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K8s in Action Demo App v{{version}}</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', path='/stylesheet.css') }}">
</head>
<body>
<figure class="cover-frame">
    <img src="{{ url_for('static', path='/cover.png') }}" alt="Kubernetes in Action Book Cover">
    <figcaption class="cover-overlay">
        <dl>
            <div>
                <dt>Kiada version</dt>
                <span>:</span>
                <dd>{{version}}</dd>
            </div>
            <div>
                <dt>Request processed by</dt>
                <span>:</span>
                <dd>{{hostname}}</dd>
            </div>
            <div>
                <dt>Client IP</dt>
                <span>:</span>
                <dd>{{clientIP}}</dd>
            </div>
        </dl>
    </figcaption>
</figure>
</body>
</html>
