<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K8s in Action Demo App v{{version}}</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', path='/stylesheet.css') }}">
</head>
<body>
<div id="background"></div>
<div id="cover"><img src="{{ url_for('static', path='/cover.png') }}" alt="Kubernetes in Action Book Cover"></div>

<div id="content">
    <div class="bubble">
        <table>
            <tr><td>Kiada version:</td>        <td><b>{{version}}</b></td></tr>
            <tr><td>Request processed by:</td> <td><b>{{hostname}}</b></td></tr>
            <tr><td>Client IP:</td>            <td><b>{{clientIP}}</b></td></tr>
        </table>
    </div>
</div>

</body>
</html>
